body{
     background: #f7f7f7 !important; 
}
/******* Header *******/
.nav-bg{
    background: url(../images/bg_header.png);
    background-size: 100% auto;
    background-position: bottom;    
    background-repeat: no-repeat;
}
.nav-bg .navigation-head{
    height: 70px;
    border-bottom: 1px solid #cccccc91;  
}
.navbar-brand img{
    height: 100px;
}
.navbar-brand{
    background:#011c46;
    position: relative;
    margin-top: 87px;
}
.align-font{
    padding: 94px 0;
    color: #fff; 
}
.align-font h3{
   text-transform: uppercase;
}
.align-font p {
    font-size: 11px;
}
.logout-icon{
    height: 15px;
    margin-right: 4px;  
}
.user-image img{
    height: 40px;
    margin-right: 20px;
    border: 1px solid #fff;
    border-radius: 100%;
}
.navigation-menu-top li{
  margin-left: 32px;
}
.navigation-menu-top li a{
    color: #fff !important;
}
.navigation-menu-top{
    position: relative;
    left: 10%;
}
.navigation-menu-bottom{
    position: relative;
    right: 15%;
}
.navigation-menu-bottom li{
  margin-left: 32px;
}
.navigation-menu-bottom li a{
    color: #fff !important;
}
.navigation-menu-bottom li:nth-child(2){
  margin-top: 5px;
}
.navbar-nav li a{
  text-transform: uppercase;
  font-size: 13px;
}
/********* Fix Navbar ***********/

.nav-white-bg{
    background: #fff;
    position: fixed !important;
    width: 100%;
    box-shadow: 0px 4px 19px #ccc;
    z-index: 999;
    transition: color 1s ease 0s;
    height: 90px !important;
}
.nav-white-bg .navbar-nav li a{
     color: #012e75 !important;
     font-weight: 500; 
}
.stiky-logo{
    display: none;
}
.nav-white-bg .default-logo{
    display: none;
}
.nav-white-bg .stiky-logo{
    display: block !important; 
    height: 60px;
}
.nav-white-bg .navbar-brand{
    background: transparent;
    margin-top: 0 !important;
}

/********* Title Bar ***********/

.section01-bg{
    background: url(../images/bg_content_area.png);
    width: 100%;
    background-size: 100% auto;
    padding-bottom: 80px;
}
.title-bar {
    padding: 43px 0;
}
.title-bar p{
    font-size: 16px;
    margin-bottom: 28px;
    margin-top: 10px;
    color: #012e75;
    text-transform: uppercase;
    font-weight: 500;  
}

/******* Section 2 boxes  *******/

.box-detail{
    background: #E2EFBF;
    border-radius: 10px;
    box-shadow: 1px 1px 15px #00000057;
    margin:41px 19px;
}
.box-detail-header{
    background-image: linear-gradient(#E4F1C0, #C9E6C6);
    text-align: center;
    padding:15px 0;
    color: #011c46;
    border-radius: 11px 11px 0px 0px;
}
.box-detail-header h5{
    margin: 0;
    font-size: 15px;
}
.box-detail-body{
    padding: 30px 20px;
    background-image: linear-gradient(#A1DC9C, #7BCFA6,#4EBFB1);
}
.box-detail-body .clock{
    font-size: 13px;
    color: #fff;
    padding: 5px 0;
}
.box-btn{
    box-shadow: 2px 2px 5px #0000005c;
}
.box-btn:hover{
  background: #fff !important;
  cursor: pointer;
}
.box-detail-body .btn{
    font-size: 10px;
    border-radius: 20px;
    background: #fff;
    color:#48BDB3 !important;
    border:0;
    padding:5px 15px;
}
.box-detail-footer{
    padding-top: 10px;
    background-image: linear-gradient(#BDE2C9, #B4DFCB);
    text-align: center;
    border-radius: 0px 0px 11px 11px;
}
.btn-box{
    position: relative;
    top: 15px;
}
.btn-box .btn{
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 13px;
}
.btn-box .btn-outline-primary{
    background: #2C5B93;
    color: #fff;
}
.btn-box .btn-outline-warning{
    background: #D6BF18;
    color: #fff;
}
.bg-image-shadow{
    background: url(../images/bg_shadow.png);
    margin-bottom: 43px;
    background-size: 100% 100%;
}
.clock span {
    font-size: 24px;
    float: left;
    margin-right: 6px;
    margin-top: -3px;
}

/******* section02 *******/

.section02-bg{
    width: 100%;
    background-size: 100% auto;
    padding-bottom: 70px;
}
.overlay-bg{
    background: linear-gradient(#f1efef,#f7f7f7),url(../images/bg_content_area.png);  
}
.btn-light{
    background: #d6bf18 !important;
    border-color: #d6bf18 !important;
    color: #fff !important;
    font-size: 11px !important;
    margin-left: 4px;
    text-transform: uppercase;
}
.blue-dark-btn{
    background: #2c5b93 !important;
    border-color: #2c5b93 !important;
    color: #fff !important;
    font-size: 11px !important;  
    text-transform: uppercase;
}
.header-light-bg{
    background-image: linear-gradient(#8ff1f3, #8ecde0); 
}
.body-light-bg{
    background-image: linear-gradient(#33deec, #2f86bc);  
}
.bg-light-footer{
    background-image: linear-gradient(#8dc9dd, #8cb3d1);  
}
.header-dark-bg{
    background-image: linear-gradient(#b6d6f7, #b2ddf7);   
}
.body-dark-bg{
    background-image: linear-gradient(#7dbffc, #909dfc);    
}
.footer-dark-bg{
    background-image: linear-gradient(#c6bbf6, #bfc7f7);     
}
.header-silver-bg{
    background-image: linear-gradient(#d9d9d9, #d9d9d9);   
}
.body-silver-bg{
    background-image: linear-gradient(#c6c6c6, #acacac);    
}
.footer-silver-bg{
    background-image: linear-gradient(#d9d9d9, #d7d7d7);     
}
.box-title{
    text-align: center;
    font-size: 16px;
    color: #2c5b93;
    margin-bottom: 44px;
    text-transform: uppercase;
}

/******** Progress Bar **********/
.box-detail .progress-bar {
     background-color: #60C5AD;
     height: 19px;
     width: 100%;
     display: block;    
     text-align: left;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border-radius: 1px;
     -moz-box-shadow: 0 1px 5px #AAE0D7 inset, 0 1px 0 #D6D6D6;
     -webkit-box-shadow: 0 1px 5px #AAE0D7 inset, 0 1px 0 #D6D6D6;
     box-shadow: 0 1px 5px #AAE0D7 inset, 0 1px 0 #D6D6D6;           
     box-shadow: inset 0 0 12px #397362;
}
.box-detail .progress-bar span {
     display: inline-block;
     height: 100%;
      background-color: #5bbba4;
      -webkit-transition: width .4s ease-in-out;
      -moz-transition: width .4s ease-in-out;
      -ms-transition: width .4s ease-in-out;
      -o-transition: width .4s ease-in-out;
      transition: width .4s ease-in-out;    
}
.box-detail .stripes span {
      -webkit-background-size: 30px 30px;
      -moz-background-size: 30px 30px;
      background-size: 30px 30px;     
      background-image: -webkit-gradient(linear, left top, right bottom,
      color-stop(.25, rgba(230, 244, 138, 0.77)), color-stop(.25, transparent),
      color-stop(.5, transparent), color-stop(.5, rgba(230, 244, 138, 0.77)),
      color-stop(.75, rgba(230, 244, 138, 0.77)), color-stop(.75, transparent),
      to(transparent));
      background-image: -webkit-linear-gradient(135deg, rgba(230, 244, 138, 0.77) 25%, transparent 25%,
                          transparent 50%, rgba(230, 244, 138, 0.77) 50%, rgba(230, 244, 138, 0.77) 75%,
                          transparent 75%, transparent);
      background-image: -moz-linear-gradient(135deg, rgba(230, 244, 138, 0.77) 25%, transparent 25%,
                          transparent 50%, rgba(230, 244, 138, 0.77) 50%, rgba(230, 244, 138, 0.77) 75%,
                          transparent 75%, transparent);
      background-image: -ms-linear-gradient(135deg, rgba(230, 244, 138, 0.77) 25%, transparent 25%,
                          transparent 50%, rgba(230, 244, 138, 0.77) 50%, rgba(230, 244, 138, 0.77) 75%,
                          transparent 75%, transparent);
      background-image: -o-linear-gradient(135deg, rgba(230, 244, 138, 0.77) 25%, transparent 25%,
                          transparent 50%, rgba(230, 244, 138, 0.77) 50%, rgba(230, 244, 138, 0.77) 75%,
                          transparent 75%, transparent);
      background-image: linear-gradient(135deg, rgba(230, 244, 138, 0.77) 25%, transparent 25%,
                          transparent 50%, rgba(230, 244, 138, 0.77) 50%, rgba(230, 244, 138, 0.77) 75%,
                          transparent 75%, transparent);            
}
.box-detail  .stripes font{
    position: relative;
    top: -4px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    left: 20%;
}
.light-progress-bar{
  background: #2f93c3 !important;
}
.light-progress-bar span{
     background-color: #308fb8 !important; 
     background-image: linear-gradient(135deg, rgb(51, 218, 234) 25%, transparent 25%, transparent 50%, rgb(51, 216, 233) 50%, rgb(51, 214, 231) 75%, transparent 75%, transparent) !important;     
}
.dark-progress-bar{
    background: #9395fa !important;
}
.dark-progress-bar span{
     background-color:#8891e8 !important; 
     background-image: linear-gradient(135deg, rgb(128, 185, 252) 25%, transparent 25%, transparent 50%, rgb(130, 181, 252) 50%, rgb(130, 183, 252) 75%, transparent 75%, transparent) !important;     
}
.play-icon{
    font-size: 10px !important;
    margin: 0px 4px;
    position: relative;
    top: -1px;
}
.boxes-space .box-detail{
    margin: 68px 24px !important;  
}

/******* Boxes Section *******/

.boxes-section-bg{
    background: url(../images/bg_content_area.png);
    width: 100%;
    background-size: 100% auto;
    padding-top: 70px; 
    padding-bottom: 40px; 
}
.box-title-border:after {
    position: absolute;
    content: '';
    background: #e1d36d;
    height: 2px;
    width: 58px;
    margin-top: 23px;
    margin-left: -54px;
}
.white-bg-header{
  background: #fff;
}
.grey-footer-bg{
  background: #e5e5e5;
}
.btn-light-large{
    text-transform: uppercase;
    background-image: linear-gradient(#92d79f,#56c2af);
    padding: 7px 26px !important;
    border: transparent !important;
    color: #ffff !important;
    font-size: 13px !important;
    font-weight: 500 !important;
}
.btn-light-large i{
    margin-left: 6px;
    font-size: 15px;
    position: relative;
    top: 1px;
}
.remove-box-shadow{
    box-shadow: none !important;
}
.dark-blue-bg{
    background-image: linear-gradient(#31b8d7,#2e7bb6);
}
.lightdark-blue-bg{
    background-image: linear-gradient(#7fbcfc,#9792fb);  
}

/******* Login Screen *******/

.login-bg-section{
    background: url(../images/bg_content_area.png);
    width: 100%;
    background-size: 100% auto;
}
.form-box{
    background: #fff;
    width: 100%;
    padding: 76px 96px;
    height: 480px;
    box-shadow: 1px 1px 32px #ccc;
    border-radius: 10px;
}
.form-box .left-box-img img{
    position: relative;
    top: 24%;
    left: 20%;
}
.space-boxes-checked {
    position: relative;
    top: 57px;
    left: 85px;
}
.space-boxes-checked h3 {
    font-size: 18px;
    color: #2b5d95;
    margin-bottom: 20px;
}
.checkbox input[type="checkbox"],input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
} 
.checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 0.5em;
    vertical-align: -3px;
    border: 1px solid #ccc;
    padding: 0.12em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
    border-radius: 11px;
}
.checkbox label {
    margin-right: 1em;
    position: relative;
    margin-bottom: 15px;
    color: #555555;
    font-size: 14px;
    font-weight: 500;
}
.left-space-label{
    margin: 4px 23px;  
}
.checkbox label:after {
  border-right: 3px solid #000000;
  border-top: 3px solid #000000;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  top: 11px;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  width: 7px;
  display: none;
}

.checkbox input:hover + label:before {
  border-color: #3dbfef;
}

.checkbox input:checked + label:before {
  border-color: #ccc;
}

.checkbox input:disabled + label {
  border-color: #d2d2d2;
  color: #d2d2d2;
}

.checkbox input:disabled + label:before {
  border-color: #d2d2d2;
}

.checkbox input:not([disabled]):checked + label:after {
  -moz-animation: check 0.8s ease 0s running;
  -webkit-animation: check 0.8s ease 0s running;
  animation: check 0.8s ease 0s running;
  display: block;
  width: 7px;
  height: 20px;
  border-color:#17cc31;
}

.checkbox input:disabled:checked + label:after {
  border-color: #d2d2d2;
  display: block;
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.select select {
  display: inline-block;
    width: 100%;
    padding: 13px 15px;
    cursor: pointer;
    color: #333;
    border: 1px solid #d6bf18;
    border-radius: 40px;  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 15px;
  outline: none;
}
.select select option{
    background: #fff;
    color: #333 !important;
    font-weight: 500;
}

.select select::-ms-expand {
    display: none;
} 
.select_arrow {
    position: absolute;
    top: calc(49% - 6px);
    right: 24px;
    width: 9px;
    height: 14px;
    pointer-events: none;
    background: url(../images/updown.png);
    background-size: contain;
}

.select select:hover + .select_arrow,
.select select:focus + .select_arrow {
    border-top-color: #000;
    -moz-appearance: none !important;
}

@-moz-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 7px;
  }
  50% {
    height: 20px;
    width: 7px;
  }
}

@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 7px;
  }
  50% {
    height: 20px;
    width: 7px;
  }
}

@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 7px;
  }
  50% {
    height: 20px;
    width: 7px;
  }
}
.b4-btn{
    display: -webkit-box !important;
    border: 2px solid #d8cc72 !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-size: 15px !important;
    padding: 3px 13px !important;
    border-radius: 10px !important;
    color: #2b5d95 !important;    
    margin: 5px 21px;
}
.b4-btn img{
    margin-left: 10px;
    margin-top:-4.6px;  
}
.b4-btn:hover{
  text-decoration: none !important;
}

/******* Registered *******/

.register-bg-section{
    background: url(../images/bg_content_area.png);
    width: 100%;
    background-size: 100% auto;
    padding-top: 70px; 
    padding-bottom: 70px; 
}
.register-box-bg{
    background: #fff;
    width: 100%;
    padding: 76px 96px;
    height: 480px;
    box-shadow: 1px 1px 32px #ccc;
}
.reg1 img{
    height: 26px;
}
.reg1 h3{
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 0;
}
.register-box-space {
    margin-top: 80px;
}
.btn-float{
    margin-top: 30px;
    position: relative;
    left: 17px;
    float: right;
}
.nav-tabs-sec {
    border-bottom: transparent !important;
    margin-top: -21px;
    position: relative;
    z-index: 9999;
}
.nav-tabs-sec li {
    background: #fff;
    border-radius: 28px;
    margin: 0 3px;
    border: 1px solid #ccc;
}
.nav-tabs-sec li .active{
    background: #fff;
    border-radius: 28px;
}



/******* Footer *******/
.footer-bg{
    background: url(../images/footer.png);
    height: 300px;
    padding-top: 126px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
}
.footer-social{
    list-style: none;
}
.footer-social li{
    display: inline-block;
    margin-right: 10px;
}
.footer-social li a i{
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #fff;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;  
}
.footer-heading p {
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
}
.footer-logo img{
    height: 110px;
    position: relative;
    top: -39px;
}

/******* Media Query ***********/

@media(min-width: 320px) and (max-width: 480px){
.nav-white-bg{
  position: inherit !important;
}  
.title-bar .triangularline{
    width: 100%;
} 
.nav-bg{
    background-size: cover;  
}
.nav-bg .navigation-head{
    height: auto !important;
}
.navbar-brand img{
    top: 0 !important;
}
.navbar-brand{
    margin-top: 10px;  
    left: 10;
    background: transparent !important;
}
.align-font {
    padding: 26px 0;
    color: #fff;
}
.footer-bg{
    height: auto; 
    background-size: auto;   
    padding-top: 18px;
}
.footer-logo img{
    margin:29px 0 !important;  
    top: 0;
}
.footer-social {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.navigation-menu-top li{
    margin-left: 0px;
    border-bottom: 1px solid #ccc;
}
.navigation-menu-top li a{
    color: #fff !important;
}
.navigation-menu-top{
    position: relative;
    left:0 !important;
}
.navigation-menu-bottom{
    position: relative;
    right: 0 !important;
}
.navigation-menu-bottom li{
  margin-left: 0;
  border-bottom: 1px solid #ccc;
}
.navigation-menu-bottom li a{
    color: #fff !important;
}
/* Register screen */
.register-box-bg {
    background: #fff !important;
    width: 100%;
    padding: 10px !important;
    height: auto !important;
    box-shadow: 1px 1px 10px #ccc !important;
    padding-bottom: 70px !important;
}
.register-box-space {
    margin-top: 20px;
}
.form-box {
    background: #fff  !important;
    width: 100%;
    height: auto !important;
    padding: 73px 18px !important;
}
.form-box .left-box-img img {
    position: relative;
    top: 0;
    left: 0;
}
.space-boxes-checked {
    position: relative;
    top: 53px;
    left: 0;
}
.btn-float {
    margin-top: 11px;
    position: relative;
    left: 17px;
    float: left;
}
.register-bg-section{
     padding-top: 20px;
}

}/*end*/

/******** 481 *********/

@media(min-width: 481px) and (max-width: 768px){
.nav-white-bg{
  position: inherit !important;
}  
.title-bar .triangularline{
    width: 100%;
} 
.nav-bg{
    background-size: cover;  
}
.nav-bg .navigation-head{
    height: auto !important;
}
.navbar-brand{
    margin-top: 10px;  
    background: transparent !important;
}
.navbar-brand img{
    top: 0 !important;
}
.align-font {
    padding: 26px 0;
    color: #fff;
}
.footer-bg{
    height: auto; 
    background-size: auto;  
    padding-top: 75px; 
}
.footer-social {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.box-detail{
    margin: 41px 0px;  
}
.box-detail-body .float-right {
    float: none !important;
    text-align: center;
    margin: auto;
    display: block;
}
.box-detail-body .float-left {
    float: none !important;
    text-align: center;
    margin: auto;
    display: block;
}
.boxes-space .box-detail {
    margin: 68px 0px !important;
}
.btn-light{
    font-size: 8px !important;
}
.blue-dark-btn{
   font-size: 8px !important; 
}
.navbar-brand{
    background: transparent;  
}
.navigation-menu-top li{
    border-bottom: 1px solid #ccc;  
}
.navigation-menu-top{
    position: relative;
    left: 0% !important;
}
.navigation-menu-bottom{
    position: relative;
    right: 0% !important;
}
.navigation-menu-bottom li{
    border-bottom: 1px solid #ccc;  
}

/* Register screen */
.register-box-bg {
    background: #fff !important;
    width: 100%;
    padding: 30px 29px !important;
    height: 310px !important;
    box-shadow: 1px 1px 10px #ccc !important;
}
.register-box-space {
    margin-top: 20px;
}
.form-box {
    background: #fff !important;
    width: 100%;
    height: 380px !important;
    background-size: cover;
    padding: 0px 12px !important;
}
.space-boxes-checked {
    position: relative;
    top: 70px;
    left: 32px;
}
.form-box .left-box-img img {
    position: relative;
    top: 33%;
    left: 14%;
}
.login-bg-section{
    padding-top: 0;
    padding-bottom: 0; 
}


}/*end*/

/******** 1024 *********/

@media(max-width: 1024px){
.title-bar .triangularline{
    width: 100%;
} 
.nav-bg{
    background-size: cover;  
}
.nav-bg .navigation-head{
    height: 70px;
}
.navbar-brand{
    margin-top: 10px;  
}
.align-font {
    padding: 26px 0;
    color: #fff;
}
.footer-bg {
    background: url(../images/footer.png);
    height: auto;
    padding-top: 86px;
}
.navigation-menu-top{
    position: relative;
    left: 0;
}
.navigation-menu-bottom{
    position: relative;
    right: 5%;
}
.navbar-brand img {
    height: 68px;
    position: relative;
    left: 10px;
    top: 17px;
}
.nav-white-bg .navbar-brand img{
    top: 0;
}
/* Register */
.form-box {
    background: url(../images/bg_white_with_triangle.png);
    width: 100%;
    height: 491px;
    background-size: cover;
    padding: 40px 89px;
}
.register-box-bg {
    background: url(../images/bg_trianglle_white2.png);
    width: 100%;
    background-size: 100% auto;
    padding: 26px 97px;
    height: 385px;
}

}/*end*/

@media(min-width: 769px) and (max-width: 991px){
.nav-bg .navigation-head{
  height: auto;
}
.navbar-brand img{
  top: 0;
}
.navbar-brand{
  background:transparent;
}

}/*end*/

@media(min-width: 1146px) and (max-width: 1260px){
.nav-bg{
  background-position: top;
}

}



@media(max-width: 1145px){
.nav-bg{
  background-size: cover ; 
}
.navigation-menu-top{
    position: relative;
    left: 0;
}
.navigation-menu-bottom{
    position: relative;
    right: 5%;
}

}
