body{
     background: #f7f7f7 !important; 
}
/******* Header *******/
.nav-bg{
    background: url(../images/header_vare_kurs.png);
    background-size: 100% auto;
    background-position: bottom;    
}
.nav-bg .navigation-head{
    height: 70px;
    border-bottom: 1px solid #cccccc91;  
}
.navbar-brand img{
  height: 100px;
}
.navbar-brand{
    background: #012e75;
    position: relative;
    left: 29px;
    margin-top: 66px;
}
.align-font{
    padding: 94px 0;
    color: #fff; 
}
.align-font h3{
   text-transform: uppercase;
}
.align-font p {
    font-size: 11px;
}
.logout-icon{
    height: 15px;
    margin-right: 4px;  
}
.user-image img{
    height: 40px;
    margin-right: 20px;
    border: 1px solid #fff;
    border-radius: 100%;
}
.navigation-menu-top li{
  margin-left: 32px;
}
.navigation-menu-top li a{
    color: #fff !important;
}
.navigation-menu-top{
    position: relative;
    left: 13%;
}
.navigation-menu-bottom{
    position: relative;
    right: 15%;
}
.navigation-menu-bottom li{
  margin-left: 32px;
}
.navigation-menu-bottom li a{
    color: #fff !important;
}
.navigation-menu-bottom li:nth-child(2){
  margin-top: 5px;
}

/********* Title Bar ***********/

.section01-bg{
    background: url(../images/bg_content_area.png);
    width: 100%;
    background-size: 100% auto;
    padding-bottom: 80px;
}
.title-bar {
    padding: 43px 0;
}
.title-bar p{
    font-size: 16px;
    margin-bottom: 28px;
    margin-top: 10px;
    color: #012e75;
    text-transform: uppercase;
    font-weight: 500;  
}

/******* Section 2 boxes  *******/

.box-detail{
    background: #E2EFBF;
    border-radius: 10px;
    box-shadow: 1px 1px 15px #00000057;
    margin:41px 19px;
}
.box-detail-header{
    background-image: linear-gradient(#E4F1C0, #C9E6C6);
    text-align: center;
    padding:15px 0;
    color: #011c46;
    border-radius: 11px 11px 0px 0px;
}
.box-detail-header h5{
    margin: 0;
    font-size: 15px;
}
.box-detail-body{
    padding: 30px 20px;
    background-image: linear-gradient(#A1DC9C, #7BCFA6,#4EBFB1);
}
.box-detail-body .clock{
    font-size: 13px;
    color: #fff;
    padding: 5px 0;
}
.box-btn{
    box-shadow: 2px 2px 5px #0000005c;
}
.box-btn:hover{
  background: #fff !important;
  cursor: pointer;
}
.box-detail-body .btn{
    font-size: 10px;
    border-radius: 20px;
    background: #fff;
    color:#48BDB3 !important;
    border:0;
    padding:5px 15px;
}
.box-detail-footer{
    padding-top: 10px;
    background-image: linear-gradient(#BDE2C9, #B4DFCB);
    text-align: center;
    border-radius: 0px 0px 11px 11px;
}
.btn-box{
    position: relative;
    top: 15px;
}
.btn-box .btn{
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 13px;
}
.btn-box .btn-outline-primary{
    background: #2C5B93;
    color: #fff;
}
.btn-box .btn-outline-warning{
    background: #D6BF18;
    color: #fff;
}
.bg-image-shadow{
    background: url(../images/bg_shadow.png);
    margin-bottom: 43px;
    background-size: 100% 100%;
}

/******* section02 *******/

.section02-bg{
    background: url(../images/bg_content_area.png);
    width: 100%;
    background-size: 100% auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 70px;
}
.btn-light{
    background: #d6bf18 !important;
    border-color: #d6bf18 !important;
    color: #fff !important;
    font-size: 11px !important;
    margin-left: 4px;
    text-transform: uppercase;
}
.blue-dark-btn{
    background: #2c5b93 !important;
    border-color: #2c5b93 !important;
    color: #fff !important;
    font-size: 11px !important;  
    text-transform: uppercase;
}

.header-light-bg{
    background-image: linear-gradient(#8ff1f3, #8ecde0); 
}
.body-light-bg{
    background-image: linear-gradient(#33deec, #2f86bc);  
}
.bg-light-footer{
    background-image: linear-gradient(#8dc9dd, #8cb3d1);  
}
.header-dark-bg{
    background-image: linear-gradient(#b6d6f7, #b2ddf7);   
}
.body-dark-bg{
    background-image: linear-gradient(#7dbffc, #909dfc);    
}
.footer-dark-bg{
    background-image: linear-gradient(#c6bbf6, #bfc7f7);     
}
.header-silver-bg{
    background-image: linear-gradient(#d9d9d9, #d9d9d9);   
}
.body-silver-bg{
    background-image: linear-gradient(#c6c6c6, #acacac);    
}
.footer-silver-bg{
    background-image: linear-gradient(#d9d9d9, #d7d7d7);     
}
.box-title{
    text-align: center;
    font-size: 16px;
    color: #2c5b93;
    margin-bottom: 44px;
    text-transform: uppercase;
}

/******** Progress Bar **********/
.box-detail .progress-bar {
     background-color: #60C5AD;
     height: 19px;
     width: 100%;
     display: block;    
     text-align: left;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border-radius: 1px;
     -moz-box-shadow: 0 1px 5px #AAE0D7 inset, 0 1px 0 #D6D6D6;
     -webkit-box-shadow: 0 1px 5px #AAE0D7 inset, 0 1px 0 #D6D6D6;
     box-shadow: 0 1px 5px #AAE0D7 inset, 0 1px 0 #D6D6D6;           
     box-shadow: inset 0 0 12px #397362;
}
.box-detail .progress-bar span {
     display: inline-block;
     height: 100%;
      background-color: #5bbba4;
      -webkit-transition: width .4s ease-in-out;
      -moz-transition: width .4s ease-in-out;
      -ms-transition: width .4s ease-in-out;
      -o-transition: width .4s ease-in-out;
      transition: width .4s ease-in-out;    
}
.box-detail .stripes span {
      -webkit-background-size: 30px 30px;
      -moz-background-size: 30px 30px;
      background-size: 30px 30px;     
      background-image: -webkit-gradient(linear, left top, right bottom,
      color-stop(.25, rgba(230, 244, 138, 0.77)), color-stop(.25, transparent),
      color-stop(.5, transparent), color-stop(.5, rgba(230, 244, 138, 0.77)),
      color-stop(.75, rgba(230, 244, 138, 0.77)), color-stop(.75, transparent),
      to(transparent));
      background-image: -webkit-linear-gradient(135deg, rgba(230, 244, 138, 0.77) 25%, transparent 25%,
                          transparent 50%, rgba(230, 244, 138, 0.77) 50%, rgba(230, 244, 138, 0.77) 75%,
                          transparent 75%, transparent);
      background-image: -moz-linear-gradient(135deg, rgba(230, 244, 138, 0.77) 25%, transparent 25%,
                          transparent 50%, rgba(230, 244, 138, 0.77) 50%, rgba(230, 244, 138, 0.77) 75%,
                          transparent 75%, transparent);
      background-image: -ms-linear-gradient(135deg, rgba(230, 244, 138, 0.77) 25%, transparent 25%,
                          transparent 50%, rgba(230, 244, 138, 0.77) 50%, rgba(230, 244, 138, 0.77) 75%,
                          transparent 75%, transparent);
      background-image: -o-linear-gradient(135deg, rgba(230, 244, 138, 0.77) 25%, transparent 25%,
                          transparent 50%, rgba(230, 244, 138, 0.77) 50%, rgba(230, 244, 138, 0.77) 75%,
                          transparent 75%, transparent);
      background-image: linear-gradient(135deg, rgba(230, 244, 138, 0.77) 25%, transparent 25%,
                          transparent 50%, rgba(230, 244, 138, 0.77) 50%, rgba(230, 244, 138, 0.77) 75%,
                          transparent 75%, transparent);            
}
.box-detail  .stripes font{
    position: relative;
    top: -4px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    left: 20%;
}
.light-progress-bar{
  background: #2f93c3 !important;
}
.light-progress-bar span{
     background-color: #308fb8 !important; 
     background-image: linear-gradient(135deg, rgb(51, 218, 234) 25%, transparent 25%, transparent 50%, rgb(51, 216, 233) 50%, rgb(51, 214, 231) 75%, transparent 75%, transparent) !important;     
}
.dark-progress-bar{
    background: #9395fa !important;
}
.dark-progress-bar span{
     background-color:#8891e8 !important; 
     background-image: linear-gradient(135deg, rgb(128, 185, 252) 25%, transparent 25%, transparent 50%, rgb(130, 181, 252) 50%, rgb(130, 183, 252) 75%, transparent 75%, transparent) !important;     
}
.play-icon{
    font-size: 10px !important;
    margin: 0px 4px;
    position: relative;
    top: -1px;
}
.boxes-space .box-detail{
    margin: 68px 24px !important;  
}

/******* Boxes Section *******/

.boxes-section-bg{
    background: url(../images/bg_content_area.png);
    width: 100%;
    background-size: 100% auto;
    padding-top: 70px; 
    padding-bottom: 40px; 
}
.box-title-border:after {
    position: absolute;
    content: '';
    background: #e1d36d;
    height: 2px;
    width: 58px;
    margin-top: 23px;
    margin-left: -54px;
}
.white-bg-header{
  background: #fff;
}
.grey-footer-bg{
  background: #e5e5e5;
}
.btn-light-large{
    text-transform: uppercase;
    background-image: linear-gradient(#92d79f,#56c2af);
    padding: 7px 26px !important;
    border: transparent !important;
    color: #ffff !important;
    font-size: 13px !important;
    font-weight: 500 !important;
}
.btn-light-large i{
    margin-left: 6px;
    font-size: 15px;
    position: relative;
    top: 1px;
}
.remove-box-shadow{
    box-shadow: none !important;
}
.dark-blue-bg{
    background-image: linear-gradient(#31b8d7,#2e7bb6);
}
.lightdark-blue-bg{
    background-image: linear-gradient(#7fbcfc,#9792fb);  
}



/******* Footer *******/
.footer-bg{
    background: url(../images/footer.png);
    height: 300px;
    padding-top: 126px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
}
.footer-social{
    list-style: none;
}
.footer-social li{
    display: inline-block;
    margin-right: 10px;
}
.footer-social li a i{
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #fff;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;  
}
.footer-heading p {
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
}
.footer-logo img{
    height: 110px;
    position: relative;
    top: -39px;
}

/******* Media Query ***********/

@media(min-width: 320px) and (max-width: 480px){
.title-bar .triangularline{
    width: 100%;
} 
.nav-bg{
    background-size: cover;  
}
.nav-bg .navigation-head{
    height: auto;
}
.navbar-brand{
    margin-top: 10px;  
    left: 10;
}
.align-font {
    padding: 26px 0;
    color: #fff;
}
.footer-bg{
    height: auto; 
    background-size: auto;   
    padding-top: 18px;
}
.footer-logo img{
    margin:29px 0 !important;  
    top: 0;
}
.footer-social {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.navigation-menu-top li{
    margin-left: 0px;
    border-bottom: 1px solid #ccc;
}
.navigation-menu-top li a{
    color: #fff !important;
}
.navigation-menu-top{
    position: relative;
    left:0 !important;
}
.navigation-menu-bottom{
    position: relative;
    right: 0 !important;
}
.navigation-menu-bottom li{
  margin-left: 0;
  border-bottom: 1px solid #ccc;
}
.navigation-menu-bottom li a{
    color: #fff !important;
}


}/*end*/

/******** 481 *********/

@media(min-width: 481px) and (max-width: 768px){
.title-bar .triangularline{
    width: 100%;
} 
.nav-bg{
    background-size: cover;  
}
.nav-bg .navigation-head{
    height: auto;
}
.navbar-brand{
    margin-top: 10px;  
}
.align-font {
    padding: 26px 0;
    color: #fff;
}
.footer-bg{
    height: auto; 
    background-size: auto;  
    padding-top: 75px; 
}
.footer-social {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.box-detail{
    margin: 41px 0px;  
}
.box-detail-body .float-right {
    float: none !important;
    text-align: center;
    margin: auto;
    display: block;
}
.box-detail-body .float-left {
    float: none !important;
    text-align: center;
    margin: auto;
    display: block;
}
.boxes-space .box-detail {
    margin: 68px 0px !important;
}
.btn-light{
    font-size: 8px !important;
}
.blue-dark-btn{
   font-size: 8px !important; 
}
.navbar-brand{
    background: transparent;  
}
.navigation-menu-top li{
    border-bottom: 1px solid #ccc;  
}
.navigation-menu-top{
    position: relative;
    left: 0% !important;
}
.navigation-menu-bottom{
    position: relative;
    right: 0% !important;
}
.navigation-menu-bottom li{
    border-bottom: 1px solid #ccc;  
}




}/*end*/

/******** 1024 *********/

@media(max-width: 1024px){
.title-bar .triangularline{
    width: 100%;
} 
.nav-bg{
    background-size: cover;  
}
.nav-bg .navigation-head{
    height: auto;
}
.navbar-brand{
    margin-top: 10px;  
}
.align-font {
    padding: 26px 0;
    color: #fff;
}
.footer-bg {
    background: url(../images/footer.png);
    height: auto;
    padding-top: 86px;
}
.navigation-menu-top{
    position: relative;
    left: 10%;
}
.navigation-menu-bottom{
    position: relative;
    right: 10%;
}

}/*end*/
